#botoes{
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: fixed;
  left: -23px;
}

#botoes button{
  background-color: #373434;
  border-radius: 7px;
  height: 39px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.button1{
  border: 2px solid rgb(255, 0, 0);
  box-shadow: 0px 0px 2px rgb(255, 0, 0);
}

.button2{
  border: 2px solid rgb(255, 0, 0);
  box-shadow: 0px 0px 2px rgb(255, 0, 0);
}

.button3{
  border: 2px solid rgb(0, 255, 94);
  box-shadow: 0px 0px 2px rgb(98, 255, 0);
}

.button4{
  border: 2px solid rgb(255, 30, 10);
  box-shadow: 0px 0px 2px rgb(255, 0, 0);
}

.button5{
  border: 2px solid rgb(255, 30, 10);
  box-shadow: 0px 0px 2px rgb(255, 0, 0);
}

#butues .text1{
  opacity: 0;
  color: #ff2600;
  font-family: monospace;
  position: fixed;
  left: 50px;
  bottom: -8px;
  background-color: #373434;
  border-radius: 5px;
  border: 1px solid rgb(248, 0, 0);
  box-shadow: 0px 0px 40px rgb(179, 3, 3);
  height: 20px;
  width: 90px;
  
}

.text1 p{
  position: fixed;
  top: 40px;
}

#butues:hover .text1{
  opacity: 1;
}


#botoes button:hover{
  transform: scale(1.2);
  box-shadow: 0px 0px 60px rgb(255, 0, 0);
}

.caixa {
  background-color: #272525;
  padding: 20px;
  width: 30px;
  height: 62.5rem;
  border-right: 5px solid rgb(255, 0, 0);
  position: absolute;
  top: -5px;
  left: 0px;
}

.button3 img{
  position: relative ;
  left: -1px;
  top: 2px;
}




body{
  background-color: rgb(0, 0, 0);
  font-family: 'VT323', monospace;;
  overflow: hidden;
}


.container {
  position: absolute;
  top: 50%;
  left: 55%; /* um pouco mais pra direita por causa do menu lateral */
  transform: translate(-50%, -50%);
  text-align: center;
}

.container img {
  width: 380px;
  height: 380px;
  position: relative;
  object-fit: cover;
  margin-bottom: 20px;
  align-items: center;
  display: flex;
}

.botoes {
  position: relative;
  left: 16px;
  bottom: 35px;
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  padding: 10px 18px;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.2s;
}

.github { 
  background: #333;
  font-family: monospace; 
        
}

.discord { 
  background: #5865F2;
  font-family: monospace; 
}
.linkedin { 
  background: #0A66C2;
  font-family: monospace;
 }

.btn:hover {
  transform: scale(1.2);
}

.foto{
  border: 5px solid rgb(9, 237, 9);
  box-shadow: 0px 0px 90px rgb(31, 174, 31);
  border-radius: 200px;  
  position: relative;
  bottom: 80px;
  left: 20px;
  transition: transform 0.3s;
}

.foto:hover{
  transform: scale(1.1);
}