#botoes{
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: fixed;
  left: -23px;
}

#botoes button{
  background-color: #373434;
  border-radius: 7px;
  height: 39px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.button1{
  border: 2px solid rgb(255, 0, 0);
  box-shadow: 0px 0px 2px rgb(255, 0, 0);
}

.button2{
  border: 2px solid rgb(255, 30, 10);
  box-shadow: 0px 0px 2px rgb(255, 0, 0);
}

.button3{
  border: 2px solid rgb(255, 30, 10);
  box-shadow: 0px 0px 2px rgb(255, 0, 0);
}

.button4{
  border: 2px solid rgb(255, 30, 10);
  box-shadow: 0px 0px 2px rgb(255, 0, 0);
}

.button5{
  border: 2px solid rgb(0, 255, 94);
  box-shadow: 0px 0px 2px rgb(98, 255, 0);
}

#butues .text1{
  opacity: 0;
  color: #ff2600;
  font-family: monospace;
  position: fixed;
  left: 50px;
  bottom: -8px;
  background-color: #373434;
  border-radius: 5px;
  border: 1px solid rgb(248, 0, 0);
  box-shadow: 0px 0px 40px rgb(179, 3, 3);
  height: 20px;
  width: 90px;
  
}

.text1 p{
  position: fixed;
  top: 40px;
}

#butues:hover .text1{
  opacity: 1;
}


#botoes button:hover{
  transform: scale(1.2);
  box-shadow: 0px 0px 60px rgb(255, 0, 0);
}

.caixa {
  background-color: #272525;
  padding: 20px;
  width: 30px;
  height: 62.5rem;
  border-right: 5px solid rgb(255, 0, 0);
  position: absolute;
  top: -5px;
  left: 0px;
}

.button3 img{
  position: relative ;
  left: -1px;
  top: 2px;
}




body{
  background-color: rgb(0, 0, 0);
  font-family: 'VT323', monospace;;
  padding: 100%;
  overflow: hidden;
}

.projects{
  display: flex;
  gap: 100px;
  position: relative;
  top: -1300px;
  left: -1000px;
}

.card{
  flex: 1;
  background-color: #373434;
  padding: 20px;
  border-radius: 16px;
  color: beige;
  font-family: monospace;
  border: 3px solid rgb(255, 179, 0);
  box-shadow: 0px 0px 13px rgb(255, 136, 0);
  transition: transform 0.3s, box-shadow 0.3s;
  filter: url(#turbulent-displace);
}

.card:hover{
  transform: scale(1.1);
  box-shadow: 0px 00px 100px rgba(255, 0, 0, 0.3);
  border-style: double;
}

.card img {
  width: 150px;   /* ocupa toda largura do card */
  height: 150px; /* altura fixa */
  
  object-fit: cover; /* corta sem distorcer */
  border-radius: 10px;
}

.saiba{
  position: relative;
  background-color:#4c4a4a;
  color: aliceblue;
  font-family: monospace;
  border-radius: 25px;
  padding: 8px;
  border: 3px solid red;
  box-shadow: 0px 0px 5px #ff0000;
  left: 30px;
  bottom: -10px;
  display: flex;
  align-items: center;
  flex-direction: column
}

.saiba:hover{
  background-color: #8d4141;
}

a {
  text-decoration: none; /* remove a linha */
  color: inherit; /* mantém a cor do botão */
}